<div class="page-width">
  <div class="section-block section-block--padding">
    <div class="flex flex--grid flex--no-gutter">
      {% case section.blocks.size %}
        {% when 1 %}
          {% assign flex_size = '' %}
        {% when 2 %}
          {% assign flex_size = 'medium-up--one-half' %}
        {% when 3 %}
          {% assign flex_size = 'medium-up--one-third' %}
        {% else %}
          {% assign flex_size = 'medium-up--one-half' %}
      {% endcase %}
      {% for block in section.blocks %}
        <div class="flex__item flex flex--center-vertical {{ flex_size }}" {{ block.shopify_attributes }}>
          {% case block.type %}
            {% when 'image_block' %}
              <div class="flex__item">
                {% if block.settings.image != blank %}
                  <noscript>
                    <img src="{{ block.settings.image | img_url: '600x' }}" alt="{{ block.settings.image.alt }}" class="image-content__image">
                  </noscript>
                  <div class="image-content__image-container">
                    <div class="image-content__image-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100}}%;">
                      {% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                      <img class="image-content__image lazyload"
                        src="{{ block.settings.image | img_url: '300x300' }}"
                        data-src="{{ img_url }}"
                        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                        data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                        data-sizes="auto"
                        alt="{{ block.settings.image.alt | escape }}">
                    </div>
                  </div>
                {% else %}
                  <div class="image-content__image">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            {% when 'text_block' %}
              <div class="flex__item image-content__text text-{{ block.settings.align }}">
                <p class="h5">{{ block.settings.title | escape }}</p>
                <div class="rte-setting">{{ block.settings.text }}</div>
              </div>
          {% endcase %}
        </div>
      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>



{% schema %}
{
  "name": {
    "de": "Bild mit Text",
    "en": "Image with text",
    "es": "Imagen con texto",
    "fr": "Image avec texte",
    "it": "Immagine con testo",
    "ja": "テキスト付き画像",
    "nl": "Afbeelding met tekst",
    "pt-BR": "Imagem com texto",
    "zh-CN": "带文本的图片",
    "zh-TW": "附文字的圖片"
  },
  "class": "index-section",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "text_block",
      "name": {
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "nl": "Tekst",
        "pt-BR": "Texto",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fr": "Titre",
            "it": "Heading",
            "ja": "見出し",
            "nl": "Kop",
            "pt-BR": "Título",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": {
            "de": "Bild mit Text",
            "en": "Image with text",
            "es": "Imagen con texto",
            "fr": "Image avec texte",
            "it": "Immagine con testo",
            "ja": "テキスト付き画像",
            "nl": "Afbeelding met tekst",
            "pt-BR": "Imagem com texto",
            "zh-CN": "带文本的图片",
            "zh-TW": "附文字的圖片"
          }
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {
            "de": "Text",
            "en": "Text",
            "es": "Texto",
            "fr": "Texte",
            "it": "Testo",
            "ja": "テキスト",
            "nl": "Tekst",
            "pt-BR": "Texto",
            "zh-CN": "文本",
            "zh-TW": "文字"
          },
          "default": {
            "de": "<p>Kombinieren Sie große Schrift mit einem Foto, um einen Fokus auf Ihr ausgewähltes Produkt, die Kategorie oder einen Blogpost zu legen. Dazu Details zur Verfügbarkeit, Stil oder ein Review.</p>",
            "en": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "es": "<p>Vincula un texto largo con una imagen para dar visibilidad a tu producto, colección o publicación de blog elegida. Agrega detalles sobre disponibilidad, estilo, o incluso ofrece una reseña.</p>",
            "fr": "<p>Ajoutez une image à un long texte pour mettre l'accent sur un produit de votre choix, une collection, ou un article de blog. Ajoutez des détails sur la disponibilité, le style, ou mettez un commentaire client en avant.</p>",
            "it": "<p>Associa un testo di grandi dimensioni a un'immagine per dare importanza al prodotto, alla collezione o all'articolo del blog di tua scelta. Aggiungi dettagli sulla disponibilità, sullo stile o fornisci una recensione.</p>",
            "ja": "<p>あなたが選んだ商品、コレクション、またはブログ投稿に注目を集めるため、大きなテキストと画像を組み合わせます。可用性、スタイル、またはレビュー提供についての詳細を追加します。</p>",
            "nl": "<p>Plaats een afbeelding bij grote stukken tekst om de aandacht op uw gekozen product, collectie of blogpost te richten. Voeg details over beschikbaarheid en stijl toe of plaats een productrecensie.</p>",
            "pt-BR": "<p>Emparelhe texto grande com uma imagem para dar foco ao produto, coleção ou postagem do blog escolhido. Adicione detalhes sobre disponibilidade, estilo ou até mesmo um comentário.</p>",
            "zh-CN": "<p>将大文本与图片配对，以便将焦点置于您选择的产品、产品系列或博客文章。添加有关可用性和样式的详细信息，甚至是提供评论。</p>",
            "zh-TW": "<p>大型文字搭配圖片，以便強調特定產品、商品系列或部落格貼文。您可以加上各種有關可用性、樣式的資料，甚至可以提供使用心得。</p>"
          }
        },
        {
          "type": "select",
          "id": "align",
          "label": {
            "de": "Textausrichtung",
            "en": "Text alignment",
            "es": "Alineación de texto",
            "fr": "Alignement du texte",
            "it": "Allineamento del testo",
            "ja": "テキストアラインメント",
            "nl": "Tekstuitlijning",
            "pt-BR": "Alinhamento de texto",
            "zh-CN": "文本对齐方式",
            "zh-TW": "文字對齊"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "de": "Links",
                "en": "Left",
                "es": "Izquierda",
                "fr": "Gauche",
                "it": "Sinistra",
                "ja": "左",
                "nl": "Links",
                "pt-BR": "Esquerda",
                "zh-CN": "左侧",
                "zh-TW": "左方"
              }
            },
            {
              "value": "center",
              "label": {
                "de": "Mitte",
                "en": "Center",
                "es": "Centrar",
                "fr": "Au centre",
                "it": "Al centro",
                "ja": "中央",
                "nl": "Midden",
                "pt-BR": "Centro",
                "zh-CN": "居中",
                "zh-TW": "置中"
              }
            },
            {
              "value": "right",
              "label": {
                "de": "Rechts",
                "en": "Right",
                "es": "Derecha",
                "fr": "Droite",
                "it": "Destra",
                "ja": "右",
                "nl": "Rechts",
                "pt-BR": "Direita",
                "zh-CN": "右侧",
                "zh-TW": "右方"
              }
            }
          ],
          "default": "left"
        }
      ]
    },
    {
      "type": "image_block",
      "name": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "nl": "Afbeelding",
            "pt-BR": "Imagem",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Bild mit Text",
        "en": "Image with text",
        "es": "Imagen con texto",
        "fr": "Image avec texte",
        "it": "Immagine con testo",
        "ja": "テキスト付き画像",
        "nl": "Afbeelding met tekst",
        "pt-BR": "Imagem com texto",
        "zh-CN": "带文本的图片",
        "zh-TW": "附文字的圖片"
      },
      "category": {
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "nl": "Afbeelding",
        "pt-BR": "Imagem",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
