<div class="password-logo">
    <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
        {% else %}
            {{ shop.name }}
        {% endif %}
    </h1>
    <h2 class="password-page__title h1">{{ section.settings.header | escape }}</h2>
 </div>





{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "nl": "Afbeelding van logo",
        "pt-BR": "Imagem do logotipo",
        "zh-CN": "徽标图片",
        "zh-TW": "標誌圖片"
      }
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": {
        "de": "Benutzerdefinierte Logobreite (Pixel)",
        "en": "Custom logo width (in pixels)",
        "es": "Ancho del logotipo personalizado (en píxeles)",
        "fr": "Largeur personnalisée du logo (en pixels)",
        "it": "Larghezza logo personalizzato (in pixel)",
        "ja": "ロゴの幅をカスタムする（ピクセルで）",
        "nl": "Aangepaste logobreedte (in pixels)",
        "pt-BR": "Largura do logotipo personalizado (em pixels)",
        "zh-CN": "自定义徽标宽度（像素）",
        "zh-TW": "自訂標誌寬度 (單位為像素)"
      },
      "default": {
        "de": "100",
        "en": "100",
        "es": "100",
        "fr": "100",
        "it": "100",
        "ja": "100",
        "nl": "100",
        "pt-BR": "100",
        "zh-CN": "100",
        "zh-TW": "100"
      }
    },
    {
      "type": "text",
      "id": "header",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "de": "Demnächst",
        "en": "Coming Soon",
        "es": "Próximamente",
        "fr": "Ouverture prochaine",
        "it": "Presto disponibile",
        "ja": "間もなく公開",
        "nl": "Binnenkort",
        "pt-BR": "Em breve",
        "zh-CN": "即将推出",
        "zh-TW": "即將推出"
      }
    }
  ]
}
{% endschema %}
